.section-section-tabs:has([data-num-sections]) + .shopify-section,
.section-section-tabs:has([data-num-sections="2"]) + .shopify-section + .shopify-section,
.section-section-tabs:has([data-num-sections="3"]) + .shopify-section + .shopify-section,
.section-section-tabs:has([data-num-sections="4"]) + .shopify-section + .shopify-section,
.section-section-tabs:has([data-num-sections="3"]) + .shopify-section + .shopify-section + .shopify-section,
.section-section-tabs:has([data-num-sections="4"]) + .shopify-section + .shopify-section + .shopify-section,
.section-section-tabs:has([data-num-sections="4"]) + .shopify-section + .shopify-section + .shopify-section + .shopify-section {
  display: none;
}

.section-section-tabs:has([value="1"]:checked) + .shopify-section,
.section-section-tabs:has([value="2"]:checked) + .shopify-section + .shopify-section,
.section-section-tabs:has([value="3"]:checked) + .shopify-section + .shopify-section + .shopify-section,
.section-section-tabs:has([value="4"]:checked) + .shopify-section + .shopify-section + .shopify-section + .shopify-section {
  display: block;
}

.custom-tabs {
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: wrap;
}

.custom-tab {
  cursor: pointer;
}

.custom-tabs--simple {
  gap: 1.5em;
  font-weight: 500;
}

.custom-tabs--simple .custom-tab {
  transition: color 0.2s;
  color: rgb(var(--color-foreground), 0.6);
  text-decoration-thickness: .1em;
}

.custom-tabs--simple .custom-tab:has(:checked),
.custom-tabs--simple .custom-tab--active {
  color: rgba(var(--color-foreground), 1);
  text-decoration-line: underline;
}

.custom-tabs--simple .custom-tab:not(:has(:checked)):not(.custom-tab--active):hover,
.custom-tabs--simple .custom-tab:not(.custom-tab--active):hover {
  text-decoration-line: underline;
  text-decoration-color: rgb(var(--color-foreground), 0.6);
}

.custom-tabs--switch {
  background-color: rgba(var(--color-foreground), 0.05);
  border: 0.2em solid transparent;
  gap: 0.4em;
  border-radius: var(--controls-corner-radius);
}

.custom-tabs--switch .custom-tab {
  position: relative;
  transition: background-color 0.2s;
  border-radius: var(--controls-corner-radius);
  padding: 0.32em 1.2em;
}

.custom-tabs--switch.custom-tabs--divided .custom-tab:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 25%;
  inset-inline-end: -0.2em;
  background-color: rgba(var(--color-foreground), 0.1);
  transition: background-color 0.2s;
  width: 1px;
}

.custom-tabs--switch.custom-tabs--divided .custom-tab:has(+ .custom-tab:hover)::after,
.custom-tabs--switch.custom-tabs--divided .custom-tab:has(+ .custom-tab--active)::after,
.custom-tabs--switch.custom-tabs--divided .custom-tab--active::after,
.custom-tabs--switch.custom-tabs--divided .custom-tab:hover::after {
  background-color: rgba(var(--color-foreground), 0) !important;
}

.custom-tabs--switch .custom-tab:hover {
  background-color: rgba(var(--color-background), 0.7);
}

.custom-tabs--switch .custom-tab:has(:checked),
.custom-tabs--switch .custom-tab--active {
  background-color: rgba(var(--color-background), 1);
  box-shadow: 0 2px 10px rgba(var(--color-foreground), 0.03);
}

a.custom-tab {
  color: currentColor;
  text-decoration: none;
}

@media screen and (max-width: 749.98px) {
  .custom-tabs {
    flex-wrap: nowrap;
  }

  .custom-tabs--simple {
    gap: 1em;
    margin-inline-start: inherit calc(var(--px-mobile) * -1);
  }

  .custom-tabs--simple .custom-tab:last-child {
    padding-inline-end: var(--px-mobile);
  }

  .custom-tabs--switch {
    font-size: 1em;
  }
}