.gallery-grid .mb--icon-container.icon-container--none {
  margin-bottom: 1rem;
}

@media screen and (max-width: 749.98px) {
  .section-gallery .grid {
    --grid-mobile-vertical-spacing: var(--gallery-grid-gap-mobile);
    --grid-mobile-horizontal-spacing: var(--gallery-grid-gap-mobile);
    --grid-desktop-horizontal-spacing: var(--grid-mobile-horizontal-spacing);
    --grid-mobile-horizontal-leg: 10vw;
  }

  .gallery--full-width .slider {
    --grid-mobile-horizontal-leg: 8vw;
  }

  .gallery--full-width .slider::after {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(var(--gallery-grid-cols, 4), minmax(0,1fr));
    gap: var(--gallery-grid-gap);
    grid-auto-rows: min-content;
  }

  .gallery__item {
    width: 100% !important;
    max-width: none !important;
  }

  .gallery__item-tall {
    --mobile-height: var(--mobile-height-double);
    --desktop-height: var(--desktop-height-double);
    grid-row: span 2;
  }

  .gallery__item-wide {
    grid-column: span 2;
  }

  .gallery-grid--rounding-none .content-container,
  .gallery-grid--rounding-outer .content-container {
    border-radius: 0;
  }

  .gallery-grid--rounding-outer {
    border-radius: var(--text-boxes-radius);
    overflow: hidden;
  }
}