/*Puts the overlay under the header*/
body:has(.cart-notification.active) .drawer__overlay:not(.drawer__header-overlay) {
  z-index: 4;
  opacity: 1;
  visibility: visible;
}

.cart-notification-wrapper {
  position: relative;
  z-index: 6;
}

.cart-notification-wrapper .cart-notification {
  display: block;
}

.cart-notification {
  pointer-events: none;
  container-type: inline-size;
  border-end-end-radius: var(--popup-corner-radius);
  border-end-start-radius: var(--popup-corner-radius);
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: 0 0 var(--popup-border-width);
  position: absolute;
  inset-inline-end: 0;
  transform: translateY(-20px);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  box-shadow: var(--popup-shadow-horizontal-offset) 6px var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
  z-index: -1;
}

.cart-notification.active {
  pointer-events: auto;
}

.cart-notification .cart__recommendations:has(product-recommendations:not(:empty)) {
  margin-top: 2rem;
}

.cart-notification__body {
  padding: 1rem 2rem 2rem;
  max-height: max(300px, calc(76vh - var(--header-height) - var(--header-start-live)));
  overflow: auto;
}

.cart-notification.animate {
  transition: transform var(--duration-long) var(--cubic-bezier-ease-out-slow), visibility var(--duration-medium), opacity var(--duration-medium);
}

.cart-notification.focused {
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.cart-notification:focus-visible {
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.cart-notification.active {
  transition-duration: var(--duration-medium);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification__heading .icon-checkmark {
  color: rgb(var(--color-foreground));
  margin-inline-end: 1rem;
  width: 2.4rem;
}

.cart-notification__links {
  text-align: center;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-end-end-radius: var(--popup-corner-radius);
  border-end-start-radius: var(--popup-corner-radius);
}

.cart-notification-product {
  align-items: flex-start;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.cart-notification-product dl {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification-product__image {
  display: inline-flex;
  margin-inline-end: 1.5rem;
}

.cart-notification-product__image:after {
  content: none;
}

.cart-notification-product__name {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

@container (min-width: 350px) {
  .cart-notification__links {
    flex-direction: row;
  }

  .cart-notification__links > div {
    width: 50%;
  }
}

@media screen and (min-width: 750px) and (max-width: 989.98px) {
  body:has(.cart-notification.active) .drawer__overlay:not(.drawer__header-overlay) {
    z-index: -1;
  }
}

@media screen and (max-width: 749.98px) {
  .cart-notification {
    border-radius: var(--popup-corner-radius) var(--popup-corner-radius) 0 0;
    position: fixed;
    bottom: 0;
  }

  .cart-notification:not(.active) {
    transform: translate3d(0, 400px, 0) scale(1);
  }
}

@media screen and (min-width: 750px) {
  .header-wrapper:not(.border-bottom) + cart-notification .cart-notification {
    border-top-width: var(--popup-border-width);
  }

  .cart-notification {
    border-width: 0 var(--popup-border-width) var(--popup-border-width);
    max-width: 46rem;
    inset-inline-end: 2.2rem;
  }

  body:has(.cart-notification.active) .drawer__overlay:not(.drawer__header-overlay) {
    top: var(--header-start-live);
  }
}

@media screen and (min-width: 990px) {
  .cart-notification-wrapper:is(.page-width) > .cart-notification {
    inset-inline-end: 4rem;
  }
}
