.header__icon--menu {
  position: initial;
}

.menu-drawer {
  position: absolute;
  transform: translateX(calc(-100% * var(--direction-multiplier)));
  visibility: hidden;
  z-index: 3;
  inset-inline-start: 0;
  top: 100%;
  width: calc(100% - 5rem);
  max-width: 37.5rem;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-medium) var(--cubic-bezier-wipe), visibility var(--duration-medium) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }

  .js .menu-drawer,
  .header__icon--menu::before {
    height: calc(100vh - var(--header-start-live, 0px));
    top: 0;
  }

  .header__icon--menu .icon-close {
    visibility: hidden;
    opacity: 0;
  }

  details[open] > .header__icon--menu .icon-hamburger {
    visibility: visible;
    opacity: 1;
  }

  .header__icon--menu::before {
    z-index: 2;
  }

  .menu-drawer__navigation-container .menu-drawer__navigation {
    padding-top: 0;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer:has(.menu-drawer__navigation-container) {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
}

.menu-drawer__navigation {
  padding: 1.5rem 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li:not(.menu-drawer__secondary-link) {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item,
.menu-drawer__close-button {
  padding: 0.9em 3rem;
  font-size: var(--header-drawer-font-size, 1.8rem);
  text-decoration: none;
  font-weight: 500;
}

.menu-drawer__promo-container,
.menu-drawer__child-menu-item,
.menu-drawer__secondary-link > details > summary,
.menu-drawer__secondary-link > .menu-drawer__menu-item {
  transition: padding-top 0.3s;
  padding: 0.7em 3rem;
}

.menu-drawer__promo-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.menu-drawer__promo-container .mega_promos--separator {
  border: 0;
  padding: 0;
}

.menu-drawer__menu + .menu-drawer__promo-container .mega_promos--separator {
  border-top: .1rem solid rgba(var(--color-foreground), 0.08);
  padding: 3em 0 0 0;
}

.menu-drawer__close-button + .menu-drawer__promo-container {
  padding-top: 1em;
}

.menu-drawer__menu + .menu-drawer__promo-container .mega_promos--separator:has(.mega-promo-header) {
  padding: 2em 0 0 0;
}

.menu-drawer__promo-container .promo-card--grid {
  grid-template-columns: 1fr !important;
}

details[open]:not(.closing) > .menu-drawer__child-menu-item {
  padding-top: 1.3em;
}

details[open]:not(.closing) > .menu-drawer__child-menu-item .icon-caret {
  margin-top: 0.3em;
}

.custom-accordion__panel .menu-drawer__menu-item {
  padding: 0.55em 3rem;
}

.custom-accordion__panel li:last-child .menu-drawer__menu-item {
  margin-bottom: 1em;
}

header-drawer custom-accordion .menu-drawer__menu-item svg {
  inset-inline-end: 2.5rem;
  transform: rotate(0deg) !important;
  transition: transform 0.3s var(--cubic-bezier-ease-out-slow);
}

header-drawer custom-accordion [open]:not(.closing) .menu-drawer__menu-item svg {
  transform: rotate(180deg) !important;
}

header-drawer custom-accordion {
  transition: background-color 0.3s, box-shadow 0.4s;
}

header-drawer custom-accordion:has([open]) {
  box-shadow: inset 0 10px 8px -10px rgba(var(--color-foreground),.06), inset 0 -10px 8px -10px rgba(var(--color-foreground),.06);
  background-color: rgba(var(--color-foreground),.02);
}

.menu-drawer__secondary-link summary,
.menu-drawer__secondary-link > .menu-drawer__menu-item {
  opacity: 0.7;
}

.menu-drawer__first-secondary-link::before {
  content: "";
  display: block;
  margin: 1.5rem 3rem;
  border-top: 1px solid rgba(var(--color-foreground), 0.08);
}

header-drawer .custom-accordion__panel {
  --header-drawer-font-size-smaller:  calc(var(--header-drawer-font-size) * 0.9);
}

header-drawer .custom-accordion__panel .menu-drawer__menu-item {
  font-size: max(var(--header-drawer-font-size-smaller, 1.6rem), 1.3rem);
  font-weight: normal;
}

header-drawer custom-accordion:has([open]) .custom-accordion__panel {
  background: transparent;
}

.menu__menu-item-title {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: calc(var(--header-drawer-font-size, 1.8rem) * 1.2);
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.4rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-inline-start: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-inline-end: 5.4rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  inset-inline-end: 3rem;
}

.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover,
.menu-drawer__menu-item--active:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.03);
}

[open] > .menu-drawer__child-menu-item:hover {
  background-color: rgba(var(--color-foreground), 0);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  transition: margin-top 0.3s;
  transform: rotate(calc(-90deg * var(--direction-multiplier)));
  height: var(--header-drawer-font-size);
  width: var(--header-drawer-font-size);
  top: calc(50% - (var(--header-drawer-font-size) / 2));
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  inset-inline-end: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  inset-inline-start: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(calc(100% * var(--direction-multiplier)));
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-bottom: 1rem;
  padding: 2rem 2.6rem 2rem 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: start;
  background-color: rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-inline-end: 1rem;
  width: calc(var(--header-drawer-font-size) * 1.3);
  position: relative;
  top: 1px;
}

.menu-drawer__account shop-user-avatar {
  --shop-avatar-size: 2.4rem;
  margin-inline-end: 0.55rem;
  margin-inline-start: -0.45rem;
}

.menu-drawer__utility-links {
  padding: 2rem 3rem;
  background-color: rgba(var(--color-foreground), 0.03);
  position: relative;
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer__account .icon-account {
  height: 1.8rem;
  width: 1.8rem;
  margin-inline-end: 1rem;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-inline-start: -1.25rem;
  margin-inline-end: -1.25rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 0.6rem;
}

@media screen and (max-width: 749.98px) {
  .menu-drawer.country-selector-open {
    transform: none !important;
    filter: none !important;
    transition: none !important;
  }
}