.discounts__discount {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.discounts__discount svg {
  color: rgba(var(--color-button), var(--alpha-button-background));
}

.discounts__discount > .icon {
  color: rgb(var(--color-foreground));
  width: 1.8rem;
  height: 1.8rem;
  margin-inline-end: 0.7rem;
}
