.popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  inset-inline-start: 0;
  overflow: auto;
  width: 100%;
  background: rgba(0,0,0,.5);
  height: 100%;
  backdrop-filter: blur(2px);
  transition: opacity var(--duration-medium), visibility var(--duration-medium);
}

.page-is-not-idle .popup-modal:not([data-delay-seconds="0"]):not([data-delay-seconds="1"]) {
  display: none;
}

.popup-modal--age-verifier {
  z-index: 105 !important;
  background: rgba(0,0,0,.8);
  backdrop-filter: blur(20px);
}

.popup-modal--alert {
  background: transparent;
  pointer-events: none;
  backdrop-filter: none;
  padding: var(--px-mobile, 2rem);
}

.popup-modal--alert .popup-modal__content {
  pointer-events: auto;
}

.popup-modal[open] {
  opacity: 1;
  visibility: visible !important;
  z-index: 1010;
}

.popup-modal--closing[open] {
  opacity: 0;
  visibility: hidden;
}

.popup-modal__content {
  border-radius: var(--popup-corner-radius);
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
  margin: 5rem auto 0;
  inset-inline-start: 50%;
  transform: translateX(calc(-50% * var(--direction-multiplier))) scale(1.05) translateZ(0);
  opacity: 0;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem;
  padding-inline-start: 3rem;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  transition: opacity var(--duration-medium) ease, transform var(--duration-medium) var(--cubic-bezier-wipe);
  background-clip: padding-box;
  will-change: transform;
  outline: 1px solid transparent;
}

.popup-modal[open]:not(.popup-modal--closing) .popup-modal__content {
  transform: translateX(calc(-50% * var(--direction-multiplier))) scale(1) translateZ(0);
  opacity: 1;
}

.tab-active .popup-modal__content.focused {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
  var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
  rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.tab-active .popup-modal__content:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
  var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
  rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.popup-modal__toggle {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  height: 4rem;
  margin: 0 -0.5rem;
  margin-inline-start: auto;
  color: currentColor;
}

.popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.6rem;
}

custom-popup.popup-modal[open]:not(.popup-modal--closing) .popup-modal__content {
  transform: scale(1) translateZ(0);
}

custom-popup .popup-modal__content {
  margin: 0;
  width: auto;
  top: auto;
  bottom: auto;
  height: auto;
  inset-inline-start: auto;
  padding: 0;
  transform:
    scale(1.05) translateZ(0);
  border: 0;
  max-height: calc(100% - (var(--responsive-card-padding) * 2));
  max-width: calc(100% - (var(--responsive-card-padding) * 2));
}

custom-popup .popup-modal__content-info {
  padding-inline-end: 0;
}

custom-popup .popup-modal__toggle {
  position: absolute;
  inset-inline-end: 0.5em;
  top: 0.5em;
}

.popup-modal--alert .popup-modal__toggle {
  inset-inline-end: 0.2em;
  top: 0.2em;
}

.popup-modal--alert p {
  margin-top: 0.5rem;
  line-height: 1.5em;
}

.popup-modal--alert p:not(:last-child) {
  margin-bottom: 0.5em;
}

.popup__image.background-transparent {
  background-color: transparent;
}

.popup-modal .card-padding {
  padding-top: calc(var(--card-padding) * 0.8) !important;
  padding-bottom: calc(var(--card-padding) * 0.8) !important;
}

custom-popup .popup-modal__toggle + div .section-content {
  padding-inline-end: max(35px, var(--card-padding));
}

.age_verifier__no-button.no-active + .age_verifier__no-text {
  display: block;
}

.popup__discount-code {
  overflow: hidden;
}

.popup__alert-icon,
.popup__image--contained {
  padding: var(--responsive-card-padding);
  padding-inline-end: 0;
}

.popup__alert-icon {
  align-self: flex-start;
}

.popup__message-container:has(.popup__alert-icon) {
  align-items: center;
}

.popup-modal--small:not(.popup-modal--side) .popup-modal__content {
  height: auto;
  margin-top: 0;
  top: 50%;
  max-height: 80%;
  transform: translateX(calc(-50% * var(--direction-multiplier))) translateY(-50%) scale(1.05) translateZ(0);
}

.popup-modal--small:not(.popup-modal--side)[open]:not(.popup-modal--closing) .popup-modal__content {
  transform: translateX(calc(-50% * var(--direction-multiplier))) translateY(-50%) scale(1) translateZ(0);
}

.popup-modal--small .popup-modal__content-info {
  padding-inline-end: 0;
}

.popup-modal--small .popup-modal__content-info {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.popup-modal--small .popup-modal__toggle {
  position: relative;
}

.popup-modal--side .popup-modal__content {
  margin-top: 0;
  height: 100%;
  border-radius: 0;
  border-start-start-radius: var(--popup-corner-radius);
  border-end-start-radius: var(--popup-corner-radius);
  inset-inline-end: 0;
  inset-inline-start: auto;
  transform: translate(calc(100% * var(--direction-multiplier)), 0) scale(1) translateZ(0);
}

.popup-modal--side[open]:not(.popup-modal--closing) .popup-modal__content {
  transform: translate(0) scale(1) translateZ(0);
}

@media screen and (max-width: 549.98px) {
  custom-popup .popup-modal__content {
    max-width: calc(100% - var(--px-mobile) * 2);
  }
}

@media screen and (max-width: 749.98px) {
  .popup-modal .xs\:image-overlay .popup__image--contained {
    padding: 0;
  }

  .popup-modal .xs\:image-overlay .object-contain {
    object-fit: cover !important;
  }

  .image-mobile-left {
    display: flex;
    flex-direction: row;
  }

  .image-mobile-right {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: var(--image-size-desktop);
  }

  .image-mobile-left .popup__image,
  .image-mobile-right .popup__image {
    width: var(--image-size-desktop);
  }

  .image-mobile-top,
  .image-mobile-bottom {
    display: flex;
    flex-direction: column;
  }

  .image-mobile-top .popup__image,
  .image-mobile-bottom .popup__image {
    height: var(--image-size-mobile);
  }

  .image-mobile-bottom {
    flex-direction: column-reverse;
  }

  .image-mobile-background .popup__image {
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .image-mobile-background .popup__image::after {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    background: var(--color-overlay);
    opacity: var(--overlay-opacity, 0);
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
  }

  .image-mobile-hidden .popup__image {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .popup-modal .md\:image-overlay .popup__image--contained {
    padding: 0;
  }

  .popup-modal .md\:image-overlay .object-contain {
    object-fit: cover !important;
  }

  custom-popup .popup-modal__toggle {
    inset-inline-end: 1em;
    top: 0.5em;
  }

  .popup-modal--alert .popup-modal__toggle {
    inset-inline-end: 0.3em;
    top: 0.1em;
  }

  .image-desktop-top,
  .image-desktop-bottom {
    display: flex;
    flex-direction: column;
  }

  .image-desktop-top .popup__image,
  .image-desktop-bottom .popup__image {
    height: var(--image-size-desktop);
  }

  .image-desktop-bottom {
    flex-direction: column-reverse;
  }

  .image-desktop-background .popup__image {
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .image-desktop-background .popup__image::after {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    background: var(--color-overlay);
    opacity: var(--overlay-opacity, 0);
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
  }

  .image-desktop-left {
    display: flex;
    flex-direction: row;
  }

  .image-desktop-right {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: var(--image-size-desktop);
  }

  .image-desktop-left .popup__image,
  .image-desktop-right .popup__image {
    width: var(--image-size-desktop);
  }

  modal-dialog .popup-modal__content {
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }

  .popup-modal--small .popup-modal__content {
    width: auto;
  }

  modal-dialog .popup-modal__toggle {
    margin-inline-end: -1.6rem;
  }

  custom-popup:not(.popup-modal--alert) {
    padding: 5rem !important;
  }

  .popup-modal--small .popup-modal__content {
    min-width: 375px;
    max-width: calc(100% - 50px);
  }
}
