slider-component {
  --desktop-margin-left-first-item: max(
    5rem,
    calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) + 10px
  );
  position: relative;
  display: block;
}

slider-component.slider-component-full-width {
  --desktop-margin-left-first-item: var(--px-mobile);
}

@media screen and (max-width: 749.98px) {
  slider-component.page-width {
    padding: 0 var(--px-mobile);
  }
}

@media screen and (min-width: 750px) and (max-width: 989.98px) {
  slider-component.page-width:not(:has(.slider--desktop)),
  slider-component.page-width-desktop:not(:has(.slider--desktop)) {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 989.98px) {
  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }
}

.slider__slide {
  --focus-outline-padding: 0.5rem;
  --shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
  --shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 550px) {
  .slider.slider--tablet-up {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-padding-inline-start: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .slider.slider--tablet-up .slider__slide {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 749.98px) {
  .slider.slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-padding-inline-start: var(--px-mobile);
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--tablet:after {
    content: '';
    width: 0;
    padding-inline-start: var(--px-mobile);
    margin-inline-start: calc(-1 * var(--grid-desktop-horizontal-spacing));
  }

  .slider.slider--tablet .slider__slide {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 12px; /* Account for shadow (e.g. on blog card) */
  }

  .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--tablet.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
}

.slider--everywhere {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: var(--scroll-behavior, smooth);
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

.slider.slider--everywhere .slider__slide {
  margin-bottom: 0;
  scroll-snap-align: center;
}

.is-dragging {
  cursor: grabbing;
}

.is-dragging a {
  pointer-events: none;
}

.drag-active {
  scroll-snap-type: none !important;
  scroll-behavior: unset !important;
}

@media screen and (min-width: 750px) {
  .slider-component-desktop,
  .slider-component-desktop.page-width {
    max-width: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .slider--desktop {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    scroll-padding-inline-start: var(--desktop-margin-left-first-item);
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--desktop:after {
    content: '';
    width: 0;
    padding-inline-start: 5rem;
    margin-inline-start: calc(-1 * var(--grid-desktop-horizontal-spacing));
  }

  .slider.slider--desktop .slider__slide {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 16px; /* Account for shadow (e.g. on blog card) */
  }

  .slider--desktop .slider__slide:first-child {
    margin-inline-start: var(--desktop-margin-left-first-item);
    scroll-margin-inline-start: var(--desktop-margin-left-first-item);
  }

  .slider-component-full-width .slider--desktop {
    scroll-padding-inline-start: var(--px-mobile);
  }

  .slider-component-full-width .slider--desktop .slider__slide:first-child {
    margin-inline-start: var(--px-mobile);
    scroll-margin-inline-start: var(--px-mobile);
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider-component-full-width .slider--desktop:after {
    padding-inline-start: var(--px-mobile);
  }

  .slider--desktop.grid--6-col-desktop:not(.grid--scaled) .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 6 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--5-col-desktop:not(.grid--scaled) .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--4-col-desktop:not(.grid--scaled) .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 4 - var(--grid-desktop-horizontal-spacing) * 1.5);
  }

  .slider--desktop.grid--4-col-desktop.grid--scaled .grid__item,
  .slider--desktop.grid--5-col-desktop.grid--scaled .grid__item,
  .slider--desktop.grid--6-col-desktop.grid--scaled .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 3 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 2 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--2-col-desktop .grid__item,
  .slider--desktop.grid--1-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 2 - var(--grid-desktop-horizontal-spacing) * 5);
  }

  .slider--desktop.grid--1-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) - var(--grid-desktop-horizontal-spacing) * 9);
  }

  .slider.slider--desktop.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--desktop.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
}

@media screen and (min-width: 990px) {
  .slider--desktop.grid--5-col-desktop.grid--scaled .grid__item,
  .slider--desktop.grid--6-col-desktop.grid--scaled .grid__item,
  .slider--desktop.grid--4-col-desktop:not(.grid--scaled) .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 4 - var(--grid-desktop-horizontal-spacing) * 2);
  }
}

@media screen and (min-width: 1200px) {
  .slider--desktop.grid--4-col-desktop.grid--scaled .grid__item,
  .slider--desktop.grid--5-col-desktop.grid--scaled .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 4 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--6-col-desktop.grid--scaled .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-desktop-horizontal-spacing) * 2);
  }
}

@media screen and (min-width: 1440px) {
  .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 3 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--5-col-desktop.grid--scaled .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-desktop-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--6-col-desktop.grid--scaled .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 6 - var(--grid-desktop-horizontal-spacing) * 2);
  }
}

@media (prefers-reduced-motion) {
  .slider {
    scroll-behavior: auto;
  }
}

/* Scrollbar */

.slider {
  scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  border-radius: 0.4rem;
  border: 0;
}

.slider::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.04);
  border-radius: 0.4rem;
}

.slider-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4.4rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1rem;
}

@media screen and (min-width: 550px) {
  .slider-counter--dots {
    margin: 0 0.8rem;
  }
}

.slider-counter__link {
  padding: 0.8rem;
}

.slider-counter__link--dots .dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: rgba(var(--color-foreground), 0.2);
  border: 0.01rem solid rgba(var(--color-foreground), 0.2);
  padding: 0;
  display: block;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgba(var(--color-foreground), 0.8);
}

@media screen and (forced-colors: active) {
  .slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: CanvasText;
  }
}

.slider-counter__link--dots .dot,
.slider-counter__link--numbers {
  transition: transform 0.2s ease-in-out;
}

.slider-counter__link--active.slider-counter__link--numbers,
.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,
.slider-counter__link--numbers:hover {
  transform: scale(1.1);
}

.slider-counter__link--numbers {
  color: rgba(var(--color-foreground), 0.5);
  text-decoration: none;
}

.slider-counter__link--numbers:hover {
  color: rgb(var(--color-foreground));
}

.slider-counter__link--active.slider-counter__link--numbers {
  text-decoration: underline;
  color: rgb(var(--color-foreground));
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
    display: none;
  }
}

@media screen and (max-width: 749.98px) {
  .slider--desktop:not(.slider--tablet) + .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .slider--mobile + .slider-buttons {
    display: none;
  }
}

@media screen and (max-width: 749.98px) and (hover: none) and (pointer: coarse) {
  .slider-buttons.page-width {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .slider-button:not([disabled]):hover {
    color: rgb(var(--color-foreground));
  }
}

.slider-button .icon {
  height: 2rem;
}

.slider-button--prev.button-control,
.slider-button--next.button-control {
  position: absolute;
  top: 50%;
  transition: opacity var(--duration-medium), visibility var(--duration-medium), transform var(--duration-medium) var(--cubic-bezier-ease-out-slow);
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -50%, 0) scale(0.8);
  z-index: 3;
  cursor: pointer;
}

.slider-button--prev.button-control {
  inset-inline-start: 2%;
}

.slider-button--next.button-control {
  inset-inline-end: 2%;
}

.collection-list .slider-button--prev.button-control,
.collection-list .slider-button--next.button-control {
  top: 43%;
}

@media (pointer: fine) {
  body:not(.body-drag-active) .slide-component--show-arrows .slider-button--prev.button-control:not([disabled]),
  body:not(.body-drag-active) .slide-component--show-arrows .slider-button--next.button-control:not([disabled]),
  body:not(.body-drag-active) slider-component:hover .slider-button--prev.button-control:not([disabled]),
  body:not(.body-drag-active) slider-component:hover .slider-button--next.button-control:not([disabled]),
  body:not(.body-drag-active) slideshow-component:hover .slider-button--prev.button-control:not([disabled]),
  body:not(.body-drag-active) slideshow-component:hover .slider-button--next.button-control:not([disabled]) {
    transform: translate3d(0, -50%, 0) scale(1);
    visibility: visible;
    opacity: 1;
  }

  body:not(.body-drag-active) slider-component:hover .slider-button--prev.button-control[disabled],
  body:not(.body-drag-active) slider-component:hover .slider-button--next.button-control[disabled],
  body:not(.body-drag-active) slideshow-component:hover .slider-button--prev.button-control[disabled],
  body:not(.body-drag-active) slideshow-component:hover .slider-button--next.button-control[disabled] {
    transition-delay: 0.3s;
  }
}

.slider-button--next .icon {
  transform: rotate(calc((-90deg) * var(--direction-multiplier)));
  position: relative;
  inset-inline-start: 1px;
}

.slider-button--prev .icon {
  transform: rotate(calc((90deg) * var(--direction-multiplier)));
  position: relative;
  inset-inline-start: -1px;
}

.slider-scrollbar__track {
  position: relative;
  height: 2px;
  width: 90%;
  margin: 1.5rem auto;
  background-color: rgba(var(--color-foreground), 0.2);
}

slider-component:has(.slider:not(.slider--scroll-active)) .slider-scrollbar__track {
  display: none;
}

.slider-scrollbar__indicator {
  height: 2px;
  display: block !important;
  background-color: rgba(var(--color-foreground), 0.8);
  width: calc(100% / var(--num-slides));
  position: absolute;
  inset-inline-start: 0;
  cursor: grab;
}

.body-drag-active * {
  cursor: grabbing;
}

.slider-scrollbar__indicator::after {
  content: "";
  height: 20px;
  width: 100%;
  display: block;
  position: absolute;
  top: -10px;
  inset-inline-start: 0;
}

.complementary-slider {
  --grid-mobile-horizontal-spacing: 10px;
  scroll-snap-type: x mandatory !important;
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch;
}