.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem;
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
  padding: 1rem 0;
}

.localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
}

@media screen and (min-width: 750px) {
  .localization-form {
    padding: 1rem 2rem;
    padding-inline-start: 0;
  }

  .localization-form:first-of-type {
    padding-inline-start: 0;
  }

  .localization-form:only-child {
    justify-content: start;
    width: auto;
    margin: 0;
    margin-inline-end: 1rem;
  }

  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    margin: 1rem 0;
  }

  .menu-drawer .disclosure__list-wrapper {
    inset-inline-end: -25px;
    max-height: 50vh;
    overflow-y: auto;
  }

  .menu-drawer__localization-left .disclosure__list-wrapper {
    inset-inline-end: auto;
    inset-inline-start: 0;
  }

  .menu-drawer .localization__grid {
    flex-direction: column;
  }

  .menu-drawer .disclosure--full .language-column {
    border-inline-end: 0;
    border-bottom: 1px solid rgba(var(--color-foreground), .08);
  }

  .menu-drawer .disclosure__list {
    /*width: 100%;*/
    max-height: none;
    overflow: visible;
  }
}

@media screen and (max-width: 989.98px) {
  noscript .localization-form:only-child {
    width: 100%;
  }
}

.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  color: rgba(var(--color-foreground), .7);
  font-weight: normal;
}

@media screen and (max-width: 749.98px) {
  .localization-form .button {
    word-break: break-all;
  }

  .localization-form__currency {
    opacity: 1;
  }

  .localization-form .disclosure__link {
    padding-inline-end: 2.5rem;
  }

  .disclosure__list {
    width: 100% !important;
    max-height: none !important;
  }
}

noscript .localization-form__select {
  padding-inline-start: 0rem;
}

@media screen and (min-width: 750px) {
  noscript .localization-form__select {
    min-width: 20rem;
  }
}

noscript .localization-selector.link {
  padding-top: 1.5rem;
  padding-inline-start: 1.5rem;
}

.disclosure .localization-form__select {
  padding-top: 1.5rem;
}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
  opacity: 1;
  animation: animateLocalization var(--duration-default) ease;
}


body:not(.drawer--open) .disclosure--opens-on-hover:hover .disclosure__list-wrapper {
  display: block !important;
}

.disclosure__list-wrapper {
  border-width: var(--popup-border-width);
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  transform: translateY(-1rem);
  z-index: 6; /*Lower than this goes behind the header*/
  background-color: rgb(var(--color-background));
  border-radius: var(--popup-corner-radius);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.disclosure__list {
  position: relative;
  overflow-y: auto;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  scroll-padding: 0.5rem 0;
  min-height: 8.2rem;
  max-height: min(40rem, 50vh);
  max-width: 100vw;
  min-width: 12rem;
  width: max-content;
}

.country-selector__list {
  padding-bottom: 0;
  padding-top: 0;
}

.country-selector__close-button {
  display: none;
}

.country-filter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0 1rem;
  z-index: 6;
  background-color: rgba(var(--color-background));
  width: calc(100% - 5px);
  transition: background 1s;
}

.country-filter__reset-button,
.country-filter__search-icon {
  inset-inline-end: calc(var(--inputs-border-width));
  top: var(--inputs-border-width);
}

.country-filter__reset-button:not(:focus-visible)::after,
.country-filter__reset-button:not(:focus)::after {
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  inset-inline-end: 0;
}

.country-filter__reset-button:focus,
.country-filter__reset-button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.country-filter__reset-button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.country-filter__reset-button:hover .icon {
  transform: scale(1.07);
}

.country-filter__reset-button .icon.icon-close,
.country-filter__search-icon .icon {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

.country-filter__search-icon {
  transition: opacity var(--duration-short) ease, visibility var(--duration-short) ease;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  cursor: text;
}

.country-filter__search-icon--hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 749.98px) {
  .disclosure__list-wrapper.country-selector:not([hidden]) + .country-selector__overlay:empty {
    display: block;
  }

  .country-selector__overlay {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-foreground), 0.5);
    z-index: 3;
    animation: animateLocalization var(--duration-default) ease;
  }

  .disclosure__list-wrapper.country-selector {
    position: fixed;
    bottom: -1rem;
    inset-inline-start: 0;
    width: 100%;
    height: auto;
    max-height: 75vh;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    border: none;
    box-shadow: none;
    z-index: 4;
    padding-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .disclosure__list.country-selector__list {
    max-height: 85%;
    min-width: 100%;
    margin-bottom: 0;
    z-index: 5;
  }

  .country-selector__close-button.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    height: 4.4rem;
    width: 4.4rem;
    color: currentColor;
    top: -1rem;
    inset-inline-end: -1rem;
    position: relative;
  }

  .disclosure__list-wrapper--one-option .country-selector__close-button.link {
    top: 0;
    inset-inline-end: 0;
  }

  .country-selector__close-button .icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .country-filter {
    padding: 1.5rem 0 0.6rem;
  }
}

@media screen and (min-width: 750px) {
  .country-filter--no-padding {
    padding: 0;
  }

  .disclosure--full .language-column {
    border-bottom: 0;
    border-inline-end: 1px solid rgba(var(--color-foreground), .08);
  }
}

.country {
  max-width: 200px;
}

.countries {
  padding-top: 0.6rem;
}

.popular-countries {
  border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

.disclosure__item {
  position: relative;
}

.disclosure__item--search {
  position: sticky;
  top: 0;
  z-index: 1;
}

.disclosure__link {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  padding: 0.8rem 0;
  text-decoration: none;
  line-height: calc(1 + .5 / var(--font-body-scale));
  word-break: break-word;
}

.disclosure__link:hover,
.disclosure__link[aria-current="true"] {
  color: rgb(var(--color-link));
}

.disclosure__link--active {
  font-weight: 500;
  text-decoration: underline;
}

.disclosure__button[aria-expanded='true'] .icon-caret {
  transform: scaleY(-1);
}

/* Header localization */
.header-localization .localization-form:only-child {
  margin: 0;
  padding: 0;
}

.header-localization .localization-form__select.link:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

/* Header icons (desktop) */
.desktop-localization-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.desktop-localization-wrapper .localization-selector + .disclosure__list-wrapper {
  animation: animateMenuOpen var(--duration-medium) ease;
}

.desktop-localization-wrapper .localization-form:only-child {
  padding: 0;
}

/* Menu drawer */
.menu-drawer__localization localization-form {
  display: block;
}

.menu-drawer__localization .localization-form__select {
  background-color: initial;
  margin-top: 0;
  padding: 1rem;
  padding-inline-end: 3.6rem;
}

.menu-drawer__localization .localization-form {
  padding: 0;
}

.menu-drawer__localization .localization-form:only-child .localization-form__select {
  margin: 0;
}

.menu-drawer__localization + .list-social {
  margin-top: 1rem;
}

.menu-drawer__localization noscript .localization-form__select {
  padding: initial;
}

.disclosure__link:hover .localization-form__currency,
.disclosure__link:focus-visible .localization-form__currency,
.disclosure__link:focus .localization-form__currency,
.disclosure__link[aria-current="true"] .localization-form__currency,
.disclosure__link--show-currency .localization-form__currency {
  display: inline-block;
  opacity: 1;
}
