.product__xr-button[data-shopify-xr-hidden] {
  visibility: hidden;
}

.shopify-design-mode .product__xr-button[data-shopify-xr-hidden] {
  display: none;
}

@media screen and (max-width: 749.98px) {
  slider-component .product__xr-button {
    display: none;
  }

  .active .product__xr-button:not([data-shopify-xr-hidden]) {
    display: block;
  }

  .product__slider-full-width-mobile .product__xr-button {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 750px) {
  slider-component + .button.product__xr-button {
    display: none;
  }

  .product__xr-button[data-shopify-xr-hidden] {
    display: none;
  }
}

.product__xr-button .icon {
  width: 1.4rem;
  margin-inline-end: 1rem;
}
