.accordion summary {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;
  padding: 0.6em 2rem;
  padding-inline-start: 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion[aria-hidden="true"] {
  display: none;
}

.accordion--no-lines {
  border-top: 0;
  border-bottom: 0;
}

.accordion__title {
  display: inline-flex;
  align-items: center;
  max-width: calc(100% - 6rem);
  min-height: 2rem;
  margin: 0;
  word-break: break-word;
  line-height: 1.5em;
}

.accordion .icon-accordion {
  fill: rgb(var(--color-foreground));
  height: 1.3em;
  width: 1.3em;
  overflow: visible;
}

.accordion details[open] > summary .icon-caret,
footer-accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__image {
  align-self: flex-start;
  padding: 0.6rem 0;
  margin-inline-end: 0.7em;
}

.accordion__content {
  word-break: break-word;
  padding: 0 0.6rem 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

.tab-active .accordion__content .button:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  box-shadow: none;
  outline-offset: -0.4rem;
}

.first-accordion {
  margin-top: 0;
}