.gift-card {
  padding: 1rem 3rem 3rem 3rem;
}

body.gift-card {
  padding-top: 3rem;
}

@media only screen and (min-width: 750px) {
  .gift-card {
    padding: 1rem 5rem 3rem;
  }

  body.gift-card {
    padding-top: 5rem;
  }
}

.gift-card__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 3rem auto;
  max-width: 40rem;
}

.gift-card__image {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  max-height: 26rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__image {
    padding: 0;
  }
}

.gift-card__price {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 1rem;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  opacity: 0.8;
}

.gift-card__price h1 {
  margin: 0;
}

.gift-card__number {
  color: rgb(var(--color-foreground));
  font-size: 1.8rem;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  text-align: center;
  letter-spacing: 0.25rem;
  opacity: 0.8;
  margin: 3rem 0;
}

.gift-card__text-wrapper {
  max-width: 30rem;
  margin: 0 auto;
}

.gift-card__text {
  text-align: center;
  font-size: 1.7rem;
  opacity: 0.6;
  margin: 0;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.badge--expired {
  background-color: rgb(var(--badge-sold-out-background));
  color: rgb(var(--badge-sold-out-foreground));
  border-color: rgba(var(--badge-sold-out-foreground), 0.04);
}

.gift-card__qr-code {
  margin: 3rem 0;
}

.gift-card__qr-code img {
  margin: 0 auto;
  height: 120px;
  width: 120px;
}

.gift_card__apple-wallet {
  line-height: 0;
  display: block;
  margin-bottom: 3rem;
  text-align: center;
}

.gift-card__buttons {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.gift-card__buttons > .button {
  display: block;
  margin: 1rem 0;
}

.form__message {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.form__message .icon {
  flex-shrink: 0;
  height: 1.3rem;
  margin-inline-end: 0.5rem;
  width: 1.3rem;
}

@media print {
  .no-print {
    display: none;
  }
}



@media only screen and (min-width: 990px) {
  .gift-card {
    padding: 1rem 10rem 3rem;
  }
}